export(Xtab, Mefa,
    nonDuplicated, Melt,
    pasteDate, paste0date, nameAlnum, normalizeNames,
    r2rmd, compare_sets, find_max, find_min, reclass)
export('%notin%')
exportClasses(Mefa, stcs, mefa, MefaMatrix, MefaDataFrame)
#    sparseMatrixList
exportMethods(xtab, samp, taxa, dim, dimnames, "dimnames<-",
    "xtab<-", "samp<-", "taxa<-", "[",
    groupSums, groupMeans,
    show, mbind, mbind2, stack)
importFrom(Matrix, rBind, cBind, drop0, Matrix)
importClassesFrom(Matrix, dgCMatrix, CsparseMatrix,
    dsparseMatrix, generalMatrix, dMatrix,
    sparseMatrix, compMatrix, Matrix)
importMethodsFrom(Matrix, colSums, rowSums,
    colMeans, rowMeans, t,
    dim, dimnames, "dimnames<-")
importFrom(utils, stack)
import(methods)
importFrom(stats, as.formula, terms)
importFrom(pbapply, pbapply)
